body.post-type-archive-product {
	
#main {
	
	background: $white;
	
	.row {
		
		.column {
			margin-bottom: 1.1em;
			padding: 12px;
			  margin: 1.1em .4em;
	
			// Every third column has no left margin
				&:nth-child(2n) { 
				
					margin-right: 0; 
			
				}	
			}
		}
		
	.product-headline {
		
		text-align: center;
		
	}	
	
	.product-price {
		
				float: left;
		  padding: 0px 25px;
		  font-size: 36px;
		}
			
		
	.compare {
		  float: right;
	  padding: 0;
	  margin-top: -5.1em;
		}
		
		
				
	}
	
	
	
}