// Colors

$mainbackground: #3E3E3E;
$white: #ffffff;
$placeholder: #D8D8D8;



// Fonts
$serif: 'Roboto Slab', serif;
$sans-serif: 'Open Sans', sans-serif;
$primary-font: 'Source Sans Pro', sans-serif;


// colors

$color-1: #2c3e51; // blue
$color-2: #00bd9b; // green
$color-3: #e84a64; // pink
$color-4: #ffffff; // white
$color-5: #eff2f6; // light blue
$lightgrey: #ecf0f1;
$text: #7f8c8d; 


// breakpoints
   
$S:     320px;   
$M:     768px;     
$L:     1170px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

